

header {
    background-color: rgb(234, 236, 236);
    display: inline;
    list-style: none;
    

}
li{
    display: inline;
}

h5{
    font-family: Avantgarde;
}

button {
    padding: 0%;
    text-align: center;
    background-color: rgb(223, 218, 218);
    
}

h6 {
    font-family: 'Times New Roman', Times, serif ;
    color: rgb(189, 179, 167);
}


.img {
    display: inline;
}
