
.topnav {
    display: inline;
    background-color: rgb(72, 26, 116);
    width: 100%;
    height: 5%;
    color: rgb(34, 32, 32);
    background-color: rgb(247, 248, 248);
    align-items: center;
    
    

}
body {
    background-color: rgb(241, 236, 236);
}

h5{
    font-family: Avantgarde;
}
li {
    float: left;
    list-style-type: none;
    padding: 1rem;
    

}
button {
    padding: 0%;
    text-align: center;
    background-color: rgb(223, 218, 218);
    
}

h6 {
    font-family: 'Times New Roman', Times, serif ;
}
section {
    background-color: rgb(83, 57, 107);
    color: rgb(216, 223, 230);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    margin: 0%;
}
.topnav-centered {
    background-color: aliceblue;
    

}
#box1 {
    text-align: center;
}